@media (max-width: 3000px) {
    header .show-mob{
    display: none;
}
}

/* Responsive */
@media (max-width: 1080px) {

    header{
        padding: 20px 30px;
    }
    header .logo{
        width: 80px;
        height: 40px;
    }
    .hero {
        min-height: 40vh;
    }
    .hero h1 {
    font-size: 28px;
    font-weight: 700;
}

    .hero p {
        font-size: 20px;
        width: 80%;
    }
    
/* contaienr section */
.step-line {
    width: 120px;
    position: absolute;
    top: 30px;
    left: -200px;
    right: 86px;
    height: 0;
    border-bottom: 2px dashed #8F9405;
    z-index: 1;
}
.step-text {
    font-size: 20px;
    font-weight: 700;
    margin-top: -35px;
}
/* contaienr section end */
}


@media (max-width: 992px) {
    .hamburger{
        display: block;
    }
nav{
    position: absolute;
    top: 100px;
    left: 35px;
    width: 220px;
    background: #FBFDCE;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    gap: 15px;
    z-index: 9999;
}

nav.active { 
    display: flex; 
}

nav ul {
    flex-direction: column;
    gap: 15px;
}
header .show-web{
    display: none;
}
header .show-mob{
    display: block;
}

.hero-content{
    padding-top: 50px;
}

/* section hero  */
.icon {
        width: 120px;
        height: 120px;
        opacity: 0.8;
        z-index: 1;
    }

    .icon-rt {
        top: 50px;
        right: 70px;
        transform: rotate(0deg);
    }

    .icon-rb {
        bottom: 50px;
        right: 120px;
    }

    .icon-lt {
        top: 20px;
        left: 70px;
        transform: rotate(0deg);
    }

    .icon-lb {
        bottom: 20px;
        left: 120px;
    }
/* section hero end */
.about{
        padding: 0 ;
    }
/* contaienr section */
.step-line {
    width: 50px;
    position: absolute;
    top: 30px;
    left: -200px;
    right: 86px;
    height: 0;
    border-bottom: 2px dashed #8F9405;
    z-index: 1;
}
.step-text {
    font-size: 20px;
    font-weight: 700;
    margin-top: -35px;
    line-height: 35px;
}
/* contaienr section end */
/* section download */
.download .container .box .right h1{
    font-weight: bold;
    font-size: 22px;

}
.download .container .box .right p{
    font-weight: 400;
    font-size: 18px;
    max-width: 370px;
}
.download{
    padding: 60px 20px;
    /* overflow: hidden; */
}
/* section download end */

.oppinion .boxes{
    gap: 50px;
}
/* .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */
 .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .social-icons {
    margin-top: 10px;
  }

  .social-icons a::after {
    left: 50%;
    top: -10px;
    transform: translateX(-50%) translateY(-100%);
  }

  .social-icons a:hover::after {
    transform: translateX(-50%) translateY(-120%);
  }

}

@media (max-width: 798px) {
.hero h1 {
    font-size: 28px;
}
.hero p {
    font-size: 16px;
}
.icon-rt {
        top: 20px;
        right: 30px;
        transform: rotate(0deg);
    }

    .icon-rb {
        bottom: 20px;
        right: 60px;
    }

    .icon-lt {
        top: 20px;
        left: 30px;
        transform: rotate(0deg);
    }

    .icon-lb {
        bottom: 20px;
        left: 60px;
    }

    

    .about::before {
        width: 450px;
        height: 450px;
    top: 550px;
    left: -200px;
}
    .about::after {
        content: "";
        position: absolute;
        width: 450px;
        height: 450px;
        top: 550px;
        right: -200px;
    }
    .about .img-bottom{
        width: 200px;
        height: 200px;
        margin-top: -70px;
    }

    .left-item .flow-phone {
    width: 165px;
    height: 540px;
}

.right-item .flow-phone {
    width: 165px;
    height: 540px;
}

/* مشكله السلايدر هنا مكنش شغال علشان انت مدي للكلاس فليكس وراب وهو كده كده السويبر بيبقي اخدهم فا بيحصل كونفليكت خلي بالك بعد كده */

    /* .club .imgs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    } */
    .download .container .box .right img{
        padding-top: 0px;
    }
    
.download{
    padding: 10px 20px;
    /* overflow: hidden; */
}
/* .footer-links {
    display: none;
} */
/*  */
.steps-row {
        flex-direction: column;
        gap: 45px;
    }

    .step-item {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

   .step-line {
    display: block !important;
    position: relative;
    width: 3px;
    height: 150px;
    margin: 0px auto;
    background-image: repeating-linear-gradient(
        to bottom,
        #8F9405 0 12px,
        transparent 12px 22px
    );
    margin-left: 430px;
}

.step-line::before {
    display: block;
    left: -3px;
    top: 100%;
}


    .step-text {
        margin-top: 50px;
        font-size: 18px;
        text-align: center;
        display: none;
    }

    .step-circle {
        width: 65px;
        height: 65px;
    }
/*  */
/*  */
.download .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 20px;
    height: 250px;

}
.download .container .box .right{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.download .container .box .right h1{
    font-size: 22px;
}
.download .container .box .right p{
    font-size: 18px;
}
.download .container .box .right img{
    padding: 0px 20px;
    width: 200px;
}
.download .container .box .left img{
width: 150px;
height: 150px;
} 
.download .container .box .left {
margin-top: 0px;
}
/*  */

}
@media (max-width: 786px){
       .step-line {
    margin-left: 320px;
}
.oppinion .boxes .box img{
    width: 55px;
    height: 55px;
    margin-top: -30px;
}
.oppinion .boxes .box h3{
    font-weight: 700;
    font-size: 14px;
}
.oppinion .boxes .box p{
    font-weight: 400;
}
.oppinion .boxes .box::before {
    left: -20px;
    top: 20px;
    width: 50px;
    height: 30px;

    font-size: 12px;
    border-radius: 20% 40% 20% 40%;
}
}
@media (max-width: 768px){
    .download .container .box .left img{
        width: 150px;
        height: 180px;
    }
    .step-line {
        margin-left: 420px;
        animation: move-dash 0.6s linear infinite;
    }
}

@media (max-width: 576px) {
  .footer-links a {
    font-size: 14px;
  }

  .footer-logo img {
    width: 60px;
  }

  .social-icons a {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }
}
@media (max-width: 536px){
       .step-line {
    margin-left: 320px;
}
}

@media (max-width: 430px){
    .icon-rt {
        top: 20px;
        right: 20px;
        transform: rotate(0deg);
    }

    .icon-rb {
        bottom: 50px;
        right: 0px;
    }

    .icon-lt {
        top: 20px;
        left: 20px;
        transform: rotate(0deg);
    }

    .icon-lb {
        bottom: 50px;
        left: 0px;
    }
    .slider-container{
        width: 100%;
    }
    
    .left-item .flow-phone {
        width: 105px;
        height: 340px;
    }

    .right-item .flow-phone {
        width: 105px;
        height: 340px;
    }
    /*  */
    
    .about {
        padding: 40px 10px;
        overflow: hidden;
    }

    .about h1 {
        font-size: 28px;
    }

    .about p {
        font-size: 16px;
        width: 95%;
    }

    /* شكل الخلفيات الجانبية (الدوائر) */
    .about::before,
    .about::after {
        width: 350px;
        height: 350px;
        top: 450px;
        opacity: 0.4;
    }

    /* Wrapper */
    .flow-wrapper {
        flex-direction: column;
        gap: 40px;
        padding: 30px 0;
    }

    /* كل عنصر */
    .flow-item {
        max-width: 100%;
        height: auto;
        transform: none;
    }

    /* النص */
    .flow-item .flow-text {
        font-size: 22px;
        margin-bottom: 10px;
        transform: none !important;
    }

    /* السهم */
    .flow-item .flow-arrow {
        width: 25px;
        height: 80px;
        margin: 10px 0;
        animation: none; 
    }

    /* الموبايل الشمال */
    .left-item .flow-phone {
        width: 210px;
        height: auto;
        margin: 0 auto;
        animation: none;
        transform: none;
    }

    /* الموبايل اليمين */
    .right-item .flow-phone {
        width: 210px;
        height: auto;
        margin: 0 auto;
        animation: none;
        transform: none;
    }

    /* الصورة اللي تحت */
    .about .img-bottom {
        margin-top: -50px;
        transform: scale(0.8);
        animation: none;
    }

    /*  */

    /*  */
    .club {
        padding: 40px 10px;
    }

    .club h1 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    /* السويبر */
    /* .club{
        display: none;
    } */
    .club .swiper {
        width: 100%;
    }

    .club .imgs {
        gap: 12px !important;
        padding: 6px 0;
    }

    .club .imgs .img {
        width: 110px !important;
        height: auto;
    }

    .club .imgs .img img {
        width: 100%;
        height: 100%;
        animation: rotateScale 15s ease-in-out infinite alternate;
    }

    /*  */

    .swiper-slide-active .image-wrapper img{
        width: 100%;
        height: 100%;
    }
    .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
    }
    /* section download */
    .download .container .box .right h1{
        font-weight: bold;
        font-size: 18px;
    }
    .download .container .box .right p{
        font-weight: 400;
        font-size: 12px;
        max-width: 370px;
    }
/* section download end */
.download{
    padding: 0 20px;
}
.download .container .box .left img{
margin-top: 0px;
}
       .step-line {
    margin-left: 270px;
}
}

@media (max-width:375px) {
    .step-line {
    margin-left: 243px;
}
@media (max-width:320px) {
    .step-line {
    margin-left: 220px;
}
}
}